/* Start - light and dark color theming */

html[data-theme='light'] {
  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #121416d8;
  --drop-shadow: rgba(0, 0, 0, 0.6)
}

html[data-theme='dark'] {
  --background-color: #212a2e;
  --text-color: #F7F8F8;
  --link-color: #F7F8F8;
  --drop-shadow: rgba(255, 255, 255, 0.6)
}

:root {
  --background-color: #fff;
  --color: #121416d8;
  --link-color: #121416d8;
  --drop-shadow: rgba(0, 0, 0, 0.6)
}

/* End - light and dark color theming */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
  color: var(--text-color);
}

/* just putting these here for now for links */
a {
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
  filter: drop-shadow(0px 0px 4px var(--drop-shadow));
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: green;
  height: 50px;
  align-items: center;
}

aside {
  position: fixed;
  right: 0px;
  top : 50px;
  padding: 1rem;
}

.post-container {
  padding: 1rem;
  display: grid;
  justify-content: center;
}

.post {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  width: 200px;
  margin-bottom: 5px;
}

.theme {
  width: 50px;
  height: 50px;
}

.theme-container {
  margin-left: auto;
  width: 50px;
  height: 50px;
}

.header-nav-container {
  display: flex;
  align-items: center;
}

.logo-container {
  margin-left: 1rem;
}

.logo {
  font-weight: bold;
  font-size: x-large;
}

.nav-link-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav-link {
  font-weight: bold;
  margin-right: 1rem;
}
